<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctrlaltelite.copshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.activities.ListingListActivity"
            android:label="CopShop - Listings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activities.CreateListingActivity"
            android:label="CopShop - Create Listing"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:label="CopShop - Log in" />
        <activity android:name=".presentation.activities.CreateAccountActivity" />
        <activity
            android:name=".presentation.activities.ListingViewActivity"
            android:label="CopShop - View Listing"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".presentation.activities.CreateBuyerAccountActivity" />
        <activity android:name=".presentation.activities.CreateSellerAccountActivity" />
        <activity
            android:name=".presentation.activities.FilterListingsActivity"
            android:label="@string/title_activity_filter_listings"
            android:parentActivityName=".presentation.activities.ListingViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ctrlaltelite.copshop.presentation.activities.ListingViewActivity" />
        </activity>
    </application>

</manifest>